*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
  max-width: 1100px;
  margin: 0 auto;
}
a{
  text-decoration: none;
}
/* -------------------- UTILITY -------------------- */
.link{
  color: green;
}
.link-alt{
  color: rgb(14, 14, 158);
}
#main-header{
  display: flex;
  margin-top: 5rem;
  margin-left: 5rem;
}
span{
  color: green;
}
#main-header h1{
  font-size: 2.5rem;
  color: #333;
}
#main-header .underline{
  font-style: italic;
  border-bottom: 0.1rem solid #333;
}
#login{
  display: flex;
  margin-left: 5rem;
  margin-top: 3rem;
  color: #333;
}
#login .form p{
  margin-top: 2rem;
  font-weight: bold;
}
#login .form .form-input{
  display: flex;
  margin-bottom: 2rem;
}
#login .form .form-input .stack{
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
}
#login .form .form-input label{
  color: #333;
  font-size: 1.25rem;
}
#login .form .form-input input{
  border: 1px solid #333;
}
#login .form .form-input .stack-bottom{
  display: flex;
  flex-direction: column;
}
.button{
  background: #333;
  border: none;
  border-radius: 0.5rem;
  padding: 1rem;
  text-align: center;
  color: white;
  font-size: 1.1rem;
  margin-top: 2rem;
}
.button:hover{
  background: green;
  color: white;
  cursor: pointer;
}
.forgot{
  margin-top: 2rem;
  color: green;
}
.forgot:hover{
  color: greenyellow;
}
#legal{
  margin-top: 1rem;
  margin-left: 5rem;
}
/* -------------------- PORTAL -------------------- */
#portal-header{
  display: flex;
  justify-content: space-between;
  border-bottom: 0.25rem solid #333;
  margin-top: 2rem;
  padding: 0 0.5rem;
}
#portal-header .company{
  display: flex;
  flex: 3;
  flex-direction: column-reverse;
}
#portal-header .profile{
  display: flex;
  flex: 1;
  align-items: flex-end;
}
#portal-header .profile .profile-pic img{
  width: 7rem;
  height: auto;
  border: 0.1rem solid green;
  border-radius: 100px;
}
#notify p{
  background: greenyellow;
  margin: 1rem 0;
  padding: 0.5rem;
  font-style: italic;
}
#main{
  border-bottom: 0.25rem solid #333;
}
#main h2{
  text-align: center;
  color: green;
  font-size: 3rem;
}
#container {
  display: flex;
  justify-content: space-between;
}
#container .navigation{
  flex-basis: 15%;
  background: #333;
}
#container .navigation ul{
  margin: 0.5rem;
}
#container .navigation ul li{
  list-style: none;
  padding: 0.5rem;
  border-bottom: 1px dotted green;
  font-size: 1.5rem;
}
#container .navigation ul li a{
  color: white;
}
#container .navigation ul li a:hover{
  color: green;
  font-style: italic;
}
#container .newsletter{
  flex-basis: 55%; 
}
#container .newsletter .story{
  margin: 1rem 0;
  background: lightgrey;
  border-left: 0.25rem solid green;
}
#container .newsletter .story h4{
  color: #333;
  padding: 0.25rem;
}
#container .newsletter .story p{
  padding: .5rem 1.5rem;
}
#container .stockcenter{
  flex-basis: 22.5%;
  margin: 1rem 0.5rem;
  border-top: 0.375rem solid green;
}
#container .stockcenter h3{
  text-align: center;
  color: #333;
  margin: 0.5rem 0;
}
#container .stockcenter h4{
  color: #333;
  padding: 0.5rem 1.5rem;
  font-size: 1.25rem;
}
#container .stockcenter a{
  display: block;
  padding: 0.5rem 1.5rem;
}
#container .stockcenter a:hover{
  font-style: italic;
}
#container .stockcenter p{
  font-size: 1.5rem;
  font-weight: 900;
  color: grey;
  padding: 0.25rem 1.5rem;
}
/* -------------------- FORGOT -------------------- */
.bkgd-recover{
  background: lightgrey;
}
#recovery{
  margin: 1.5rem 5rem;
}
#recovery .heading{
  margin-bottom: 3rem;
}
#recovery .heading h3{
  border-bottom: 2px solid #333;
}
#recovery .recover .recover-info{
  display: flex;
  flex-direction: column;
  color: green;
}
#recovery .recover .recover-info input{
  border: 1px solid green;
  max-width: 15rem;
}